<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>add income</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forgetpassword.css') }}">
    
  </head>
  <body>
    <div id="main">
      <div id="middle-part">
        <div id="heading">
          <div id="logo">
            <img
              src="{{ url_for('static', filename='money.png') }}"
              width="80%"
            />
          </div>
          <div id="upper-heading">
            <h2>Reset Your Password</h2>
            <p style="margin-top: 5px">Enter your email address and we'll send you a OTP to
              reset your password.</p>
          </div>
        </div>
        {% if not available %}
        <form action="{{url_for('login.check_email')}}" method="post">
        {{emailform.hidden_tag()}}
        <div id="money-input">
          <Label>Enter Email</Label><br/>
          <div id="icon">
            {{emailform.email}}
            <div id="btn-1">
              <button type="submit">Verify Email</button>
      </div>
          </div>
        </div>
      </form>
      {% else %}
      <form>
        {{emailform.hidden_tag()}}
        <div id="money-input">
          <label>Email</label><br/>
          <div id="icon">
            {{emailform.email(readonly=True)}}
          </form>
          {% endif %}
          {% if available%}
          <form action="{{url_for('login.forget')}}" method="post">
          {{otpform.hidden_tag()}}
          <div id="money-input">
            <Label>Enter OTP</Label><br/>
            <div id="icon">
              {{otpform.otp}}
          </div>
        </div>
        <div id="btn-1">
          <button type="submit">OTP</button>
        </div>
      </form>
      {% endif %}
        <div id="link">
          <a href="{{url_for('login.back_login')}}">back to profile</a>
        </div>
      </div>
    </div>
  </body>
</html>
