<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add income</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/newpassword.css')}}">

</head>
<body>
        <div id="main">
            <div id="middle-part">
                <div id="heading">
                    <div id="logo"> <img src="{{ url_for('static', filename='money.png') }}" width="80%"></div>
                        <div id="upper-heading">
                            <h2>New Password</h2>
                            <p style="margin-top: 5px;">Change your password </p>
                        </div>
                </div>
                    <div id="money-input">
                        <div id="icon">  
                            <form method="post">
                                {{form.hidden_tag()}}
                                <label >New Password</label>
                                {{form.new_password}}
                                <label>Confirm password </label>
                                {{form.confirm_password}}
                        </div>
                    </div>
                <div id="btn-1">
                    <button type="submit">Save Password</button>

            </div>
        </form>
            
            <div id="link">
                <a href="{{url_for('login.login_')}}">back to profile</a>
            </div>

        </div>
        </div>
</body>
</html>


